/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin input {
	margin: 5px 0px;
}

.form-signin a {
	float: right;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.push {
  height: 70px;
}

.footer {
  position: relative;
  height: 70px;
  background-color: #333333;
}
.footer .container {
  text-align: center;
  color: #999999;
  padding: 10px 0px;
}

.footer-div {
  padding: 5px 0px;
}

html, body, .container {
  height: 100%;
}

.star-5 {
  background-color: #d6e9c6;
}

.star-4 {
  background-color: #bce8f1;
}

.star-3 {
  background-color: #428bca;
}

.star-2 {
  background-color: #faebcc;
}

.star-1 {
  background-color: #ebccd1;
}
